---
import config from "@/config/config.json";
import {
  IconBrandLinkedin,
  IconBrandPinterest,
  IconBrandBluesky,
} from "@tabler/icons-react";

const { base_url } = config.site;
const { title, description, slug, className } = Astro.props;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="bluesky share button"
      href={` https://bsky.app/intent/compose?text=${base_url}/${slug}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IconBrandBluesky />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="linkedin share button"
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${base_url}/${slug}&title=${title}&summary=${description}&source=${base_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IconBrandLinkedin />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="pinterest share button"
      href={`https://pinterest.com/pin/create/button/?url=${base_url}/${slug}&media=&description=${description}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IconBrandPinterest />
    </a>
  </li>
</ul>
