---
import { IconMenu2 } from "@tabler/icons-react";
import { Image } from "astro:assets";

const NAV = [
  {
    name: "Projekte",
    url: "/projects",
  },
  {
    name: "Galerie",
    url: "/gallery",
  },
  {
    name: "Blogs",
    url: "/blog",
  },
];

const TOOLS: { title: string; href: string; description: string }[] = [
  {
    title: "Ollama Client",
    href: "/tools/chat",
    description: "Chat-Anwendung um mit einem Ollama-Server zu kommunizieren.",
  },
  {
    title: "Websocket Tester",
    href: "#",
    description: "Im Aufbau",
  },
];
---

<header>
  <nav
    class="mx-auto flex max-w-[1260px] items-center justify-between px-4 py-2 md:py-5"
  >
    {/* logo */}
    <a href="/" class="flex items-center">
      <Image
        width={150}
        height={150}
        alt={"logo"}
        src="/images/logo.png"
        class="h-auto w-12"
      />
    </a>

    {/* desktop nav */}
    <div class="hidden gap-2 md:flex">
      {
        NAV.map((nav) => (
          <a
            href={nav.url}
            class="text-md font-semibold px-2 text-center hover:text-gray-400"
          >
            {nav.name}
          </a>
        ))
      }

      <div class="group/dropdown relative">
        <a
          class="text-md font-semibold px-2 text-center group-hover/dropdown:text-gray-400"
        >
          Tools
        </a>

        <div class="absolute z-10 hidden group-hover/dropdown:block">
          <div
            class="bg-white p-2 shadow-lg rounded-lg w-[300px] border mt-3 -ml-[250px]"
          >
            <div class="flex flex-col gap-2">
              {
                TOOLS.map((tool) => (
                  <a href={tool.href} class="p-2 cursor-pointer group/link">
                    <div class="text-sm font-semibold mb-1 group-hover/link:underline">
                      {tool.title}
                    </div>
                    <div class="text-xs text-gray-400">{tool.description}</div>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    {/* mobil nav */}
    <label
      class="md:hidden relative z-40 cursor-pointer p-4"
      html-for="mobile-menu"
    >
      <input class="peer hidden" type="checkbox" id="mobile-menu" />

      <IconMenu2 className="h-6 w-6 text-black" />

      {/* bg overlay */}
      <div
        class="fixed inset-0 z-30 hidden bg-black/50 backdrop-blur-sm peer-checked:block"
      >
      </div>

      {/* offcanvas menu */}
      <div
        class="fixed top-0 right-0 z-40 h-full w-4/5 translate-x-full bg-white shadow-2xl transition-transform duration-200 peer-checked:translate-x-0"
      >
        <menu class="flex flex-col gap-2 p-2 h-full">
          {
            NAV.map((nav) => (
              <a
                href={nav.url}
                class="p-2 text-gray-800 font-bold rounded-lg hover:bg-gray-100"
              >
                {nav.name}
              </a>
            ))
          }

          <div class="relative flex items-center mt-auto">
            <hr class="w-full border-gray-200 rounded-full" />
            <span
              class="absolute left-1/2 -translate-x-1/2 bg-white px-4 text-xs text-gray-400"
            >
              Tools
            </span>
          </div>
          {
            TOOLS.map((tool) => (
              <a href={tool.href} class="p-2 cursor-pointer group/link">
                <div class="text-sm font-semibold mb-1 group-hover/link:underline">
                  {tool.title}
                </div>
                <div class="text-xs text-gray-400">{tool.description}</div>
              </a>
            ))
          }
        </menu>
      </div>
    </label>
  </nav>
</header>
