---
import Base from "@/layouts/Base.astro";
import { getContentPages } from "@/lib/contentParser.astro";
import { Image } from "astro:assets";
import ReciYML from "@/components/ReciYML";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import config from "@/config/config.json";
import calculateReadingTime from "reading-time";

export const prerender = true;
export async function getStaticPaths() {
  const blogs = await getContentPages("blogs");

  return blogs.map((blog: any) => ({
    params: {
      slug: blog.slug,
    },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { Content } = await blog.render();
const {
  title,
  meta_title,
  description,
  image,
  date,
  tags,
  recipe,
} = blog.data;

const { base_url } = config.site;

const readingTime = Math.round(calculateReadingTime(blog.body).minutes);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <acticle class="article flex flex-col gap-6">
    {/* title */}
    <h1
      class="m-0 font-bold text-center text-3xl transition-[font-size] duration-500 ease-in-out lg:text-5xl"
      set:html={markdownify(title)}
    />

    <section
      class="flex flex-row gap-4 justify-center items-center flex-wrap text-sm"
    >
      <span class="flex flex-row gap-2 items-center">
        <i class="ti ti-calendar-month h-4 w-4 shrink-0"></i>
        <span>{dateFormat(date)}</span>
      </span>

      <span class="text-sm">&#x2022</span>

      <span>{readingTime} min Lesezeit</span>
    </section>

    {/* image */}
    {
      image && (
        <Image
          class={"m-0 w-screen h-auto"}
          width={1000}
          height={300}
          src={image}
          alt={title}
        />
      )
    }

    {/* recipe */}
    {recipe && <ReciYML recipe={recipe} client:load />}

    {/* blog content */}
    <section class="prose dark:prose-invert text-left max-w-none m-0">
      <Content />
    </section>

    {/* footer actions (tags, share, ...) */}
    <section class="flex flex-row gap-4 justify-center items-center flex-wrap">

      {
        tags.map((tag: string) => (
          <a
            href={`/blog/t/${slugify(tag)}`}
            class="font-medium text-sm hover-text"
          >
            #{humanize(tag)}
          </a>
        ))
      }

      <span class="text-sm">&#x2022</span>

      {/* share buttons */}
      <a
        aria-label="bluesky share button"
        href={` https://bsky.app/intent/compose?text=${base_url}/${blog.slug}`}
        target="_blank"
        rel="noreferrer noopener"
      >
        <i class="ti ti-brand-bluesky cursor-pointer hover-text"></i>
      </a>
    </section>
  </acticle>
</Base>
