---
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import SearchBar from "@/layouts/SearchBar";
import BlogsList from "@/layouts/BlogsList.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { humanize } from "@/lib/utils/textConverter";
import { IconCategory, IconHash } from "@tabler/icons-react";

const categories = await getTaxonomy("blogs", "categories");
const tags = await getTaxonomy("blogs", "tags");

const blogs = await getSinglePage("blogs");
const sortedBlogs = sortByDate(blogs);
const totalBlogs = Math.ceil(blogs.length / config.settings.pagination);
const currentBlogs = sortedBlogs.slice(0, config.settings.pagination);

const searchList = blogs.map((item: any) => ({
  slug: item.slug,
  data: item.data,
  content: item.body,
}));
---

<Base title={"Blogs"}>
  <!-- Header Sektion -->
  <section class="py-8">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold text-center mb-10">Meine Blogs</h1>
    </div>
  </section>

  <!-- Suche Sektion -->
  <section class="section">
    <div class="container mx-auto">
      <SearchBar client:load searchList={searchList} />
    </div>
  </section>

  <!-- Kategorien Sektion -->
  <section class="py-8">
    <div class="container mx-auto">
      <h2 class="text-2xl font-semibold text-primary mb-4">Kategorien</h2>
      <ul class="flex flex-wrap gap-4">
        {
          categories.map((category) => (
            <li>
              <a
                href={`/blog/c/${category}`}
                class="inline-flex items-center px-4 py-2 rounded-lg bg-gray-200 text-gray-800 hover:bg-primary hover:text-white transition"
              >
                <IconCategory className="mr-2 h-5 w-5 text-gray-600 hover:text-white transition" />
                {humanize(category || "")}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <!-- Tags Sektion -->
  <section class="py-8">
    <div class="container mx-auto">
      <h2 class="text-2xl font-semibold text-primary mb-4">Tags</h2>
      <ul class="flex flex-wrap gap-4">
        {
          tags.map((tag) => (
            <li>
              <a
                href={`/blog/t/${tag}`}
                class="inline-flex items-center px-4 py-2 rounded-lg bg-gray-200 text-gray-800 hover:bg-primary hover:text-white transition"
              >
                <IconHash className="mr-2 h-5 w-5 text-gray-600 hover:text-white transition" />
                {humanize(tag || "")}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <!-- Aktuelle Blogs Sektion -->
  <section class="py-8">
    <div class="container mx-auto">
      <h2 class="text-2xl font-semibold text-primary mb-4">Aktuelle Blogs</h2>
      <BlogsList blogs={currentBlogs} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalBlogs} />
    </div>
  </section>
</Base>
