---
import { Image } from "astro:assets";
import menu from "./menu.json";
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";
import ThemeToggle from "@/components/layout/ThemeToggle.astro";
---

<header>
  <nav class="mx-auto flex items-center justify-between px-4 py-2 md:py-5">
    {/* logo */}
    <a href="/" class="flex items-center">
      <Image
        width={150}
        height={150}
        alt={"logo"}
        src="/images/logo.png"
        class="h-auto w-8 md:w-12"
      />
    </a>

    {/* desktop nav */}
    <div class="hidden gap-2 md:flex">
      {
        menu.nav.map((nav) => (
          <a
            href={nav.url}
            class="text-md font-semibold px-2 text-center hover:text-gray-400"
          >
            {nav.name}
          </a>
        ))
      }

      {/* dropdown */}
      <div class="group/dropdown relative">
        <a
          class="text-md font-semibold px-2 text-center group-hover/dropdown:text-gray-400"
        >
          Tools
        </a>

        <div class="absolute z-10 hidden group-hover/dropdown:block">
          <div
            class="bg-white dark:bg-black/30 backdrop-blur-md p-2 rounded-lg w-[300px] ring dark:ring-gray-800 ring-gray-300 ring-inset mt-3 -ml-[250px]"
          >
            <div class="flex flex-col gap-2">
              {
                menu.tools.map((tool) => (
                  <a href={tool.url} class="p-2 cursor-pointer group/link">
                    <div class="text-sm font-semibold mb-1 group-hover/link:underline">
                      {tool.name}
                    </div>
                    <div class="text-xs text-gray-400">{tool.description}</div>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    {/* mobil nav */}
    <label
      class="md:hidden relative z-40 cursor-pointer p-1"
      html-for="mobile-menu"
    >
      <input class="peer hidden" type="checkbox" id="mobile-menu" />

      <i class="ti ti-menu-2 text-xl text-black dark:text-white"></i>

      {/* bg overlay */}
      <div
        class="fixed inset-0 z-30 hidden bg-black/50 backdrop-blur-xs peer-checked:block"
      >
      </div>

      {/* offcanvas menu */}
      <div
        class="fixed top-0 right-0 z-40 h-full w-4/5 translate-x-full dark:bg-black bg-white shadow-2xl transition-transform duration-200 peer-checked:translate-x-0"
      >
        <menu class="flex flex-col gap-2 p-2 h-full">
          {
            menu.nav.map((nav) => (
              <a
                href={nav.url}
                class="p-2 text-black dark:text-white hover:scale-[1.01] transition-all duration-200 font-bold rounded-lg "
              >
                {nav.name}
              </a>
            ))
          }

          <div class="relative flex items-center mt-auto">
            <hr class="w-full border-gray-400 rounded-full" />
            <span
              class="absolute left-1/2 -translate-x-1/2 bg-white dark:bg-black px-4 text-xs text-gray-400"
            >
              Tools
            </span>
          </div>
          {
            menu.tools.map((tool) => (
              <a href={tool.url} class="p-2 cursor-pointer group/link">
                <div class="text-sm font-semibold mb-1 group-hover/link:underline">
                  {tool.name}
                </div>
                <div class="text-xs text-gray-400">{tool.description}</div>
              </a>
            ))
          }
          <div>
            <hr class="w-full border-gray-200 rounded-full" />
            <ul
              class="flex justify-center p-2 text-xs text-gray-400 gap-4 flex-wrap"
            >
              {/* Footer Menu */}
              {
                menu.footer.map((menu) => (
                  <li>
                    <a
                      href={menu.url}
                      class="hover-text transition hover:underline"
                    >
                      {menu.name}
                    </a>
                  </li>
                ))
              }

              {/* Theme Toggle */}
              <li>
                <ThemeToggle class="hover-text transition hover:underline" />
              </li>

              {/* Copyright */}
              <li>
                <span set:html={markdownify(config.params.copyright)} />
              </li>
            </ul>
          </div>
        </menu>
      </div>
    </label>
  </nav>
</header>
