---
import { Image } from "astro:assets";
import ReciYML from "@/components/ReciYML";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import {
  IconBrandBluesky,
  IconCalendarMonth,
  IconCategory,
} from "@tabler/icons-react";
import config from "@/config/config.json";
const { blog } = Astro.props;
const { Content } = await blog.render();
const { title, description, categories, image, date, tags, recipe } = blog.data;
const { base_url } = config.site;
---

<section class="section">
  <div class="container">
    <article class="row justify-center">
      <div class="md:col-10 text-center">
        <h1 set:html={markdownify(title)} class="h2" />
        <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
          <li class="mx-3 flex items-center flex-wrap font-medium">
            <IconCalendarMonth className="mr-1 h-5 w-5 text-gray-600" />
            <span>{dateFormat(date)}</span>
          </li>
          <li class="mx-3 flex items-center flex-wrap">
            <IconCategory className="mr-1 h-5 w-5 text-gray-600" />
            <div>
              <ul>
                {
                  categories.map((category: string, i: number) => (
                    <li class="inline-block">
                      <a
                        href={`/blog/c/${slugify(category)}`}
                        class="mr-2 hover:text-primary font-medium"
                      >
                        {humanize(category)}
                        {i !== blog.data.categories.length - 1 && ","}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </li>
        </ul>
      </div>

      {
        image && (
          <div class="col-10 my-8 flex justify-center">
            <Image
              width={1000}
              height={300}
              src={image}
              alt={title}
              class="rounded-lg w-full h-auto"
            />
          </div>
        )
      }

      {
        recipe && (
          <div class="md:col-10">
            <ReciYML recipe={recipe} client:load />
          </div>
        )
      }

      <div class="md:col-10">
        <div class="content mb-16 text-left">
          <Content />
        </div>
        <div class="flex flex-wrap items-center justify-between">
          <ul class="mr-4 mb-4 space-x-3">
            {
              tags.map((tag: string) => (
                <li class="inline-block">
                  <a
                    href={`/blog/t/${slugify(tag)}`}
                    class="block rounded-lg bg-theme-light px-4 py-2 font-semibold text-dark text-sm hover:text-primary transition duration-300"
                  >
                    #{humanize(tag)}
                  </a>
                </li>
              ))
            }
          </ul>

          <ul class={`space-x-1}`}>
            <li class="inline-block">
              <a
                class="block p-3 transition duration-300 hover:text-primary"
                aria-label="bluesky share button"
                href={` https://bsky.app/intent/compose?text=${base_url}/${blog.slug}`}
                target="_blank"
                rel="noreferrer noopener"
              >
                <IconBrandBluesky />
              </a>
              <c li> </c>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>
